<div class="panel">
  <p class="panel-heading" *ngIf="countTodo !== 0; else noTodo">
    Current Todos: {{ countTodo }}
    <a class="btn is-link" (click)="toggleFoldedState()">Toggle animation state</a>
  </p>
  <ng-template #noTodo>
    <p class="panel-heading">No todos! Add todos by using the textbox above.</p>
  </ng-template>
  <div *ngIf="showList" @foldListAnimation>
    <app-todo
    *ngFor="let todo of todos; trackBy: trackByFn" 
    [todo]="todo" 
    (delete)="deleteTodo($event)" 
    (update)="updateTodo($event)"
    (complete)="updateTodo($event)">
  </app-todo>
</div>
</div>